.App-container {
  justify-content: center;
  width:50vw;
  height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  
}

.App-box {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  margin: 1rem;
  display: flex;
  justify-content: center;
}